

body {
    background-color: #f4f6f8;
}

.navbar {
    background-color: #1c1f2b;
}

.navbar-brand img {
    height: 40px;
}

.navbar .nav-link {
    color: #d9dbe1;
}

.navbar .nav-link:hover,
.navbar .nav-link.active {
    color: #22c1dc;
}


.btn-cart {
    background-color: #22c1dc;
    color: #000 !important;
    padding: 6px 14px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background-color: #1c1f2b;
    color: white;
    padding: 60px 20px;
    text-align: center;
}

.hero h1 {
    font-weight: bold;
}


.card-producto img {
    height: 180px;
    object-fit: cover;
}

.card-producto .precio {
    color: #0d6efd;
    font-weight: bold;
    font-size: 1.2rem;
}


footer {
    background-color: #1c1f2b;
    color: #aaa;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}


.error-mensaje {
    color: #dc3545;
    font-size: 0.875rem;
}
